body{
    margin-top: 0;
    word-break: break-all;
}

p,b{
    font-family: baskerville-urw, serif;
    font-weight: 500;
    font-style: normal;
    font-size: .75 em;
    margin: 0;
    display: inline;
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
}
b:hover {
    font-family: 'Poppins', sans-serif;
    font-size: large;
}
::-webkit-scrollbar {
    display: none;
}


